<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive email layout.">
    <title>Pure example</title>
    <link rel="icon" href="./favicon.ico">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/email-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/email.css">
        <!--<![endif]-->
    <script src="https://unpkg.com/moment"></script>
    <!-- medium editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/medium-editor/5.23.3/css/themes/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!--loadash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <!-- vue -->
    <!-- Include the library in the page -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/marked"></script>

</head>
<body>

<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <button class="primary-button pure-button" @click="addNote">Compose</button>

            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Inbox <span class="email-count">(2)</span></a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Important</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sent</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Drafts</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Trash</a></li>
                    <a @click="resetLabelIndex">
                        <li class="pure-menu-heading">Labels</li>
                    </a>
                    <template v-for="(label,labelIndex) in labels">
                        <a @click="toggleLabelIndex(labelIndex)" class="pure-menu-link">
                            <li class="pure-menu-item">
                                <span class="email-label-personal" :style="label.color"></span>
                                {{label.name}}
                            </li>
                        </a>
                    </template>
                </ul>
            </div>
        </div>
    </div>

    <div id="list" class="pure-u-1">
        <template v-for="(item, index) in filterNoteItems" >
            <div class="email-item pure-g" :class="{'email-item-selected':itemSelected(index)}" @click="editNote(index)">
                <div class="pure-u-1-5">
                    <img width="64" height="64" alt="Antonio Martin&#x27;s avatar" class="email-avatar" src="img/crab.png">
                </div>

                <div class="pure-u-3-5" >
                    <h5 class="email-name">Martin</h5>
                    <h4 class="email-subject">{{item.title}}</h4>
                    <p class="email-desc" v-html="item.content">
                    </p>
                </div>
                <div class="pure-u-1-5">
                    <template v-for="(label,labelIndex) in labels">
                        <a @click="addNoteLabel(item, label)" class="email-label-personal" :style="label.color"></a>
                    </template>
                    <a @click="toggleFavourite(index)">
                        <i class="fa-star" :class="{'far':!item.favourite, 'fas':item.favourite}" ></i>
                    </a>
                </div>
            </div>
        </template>

    </div>

    <!-- the edit panel -->
    <div id="main" class="pure-u-1" >
        <div class="email-content" >
            <div class="email-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 ref='noteTitle' class="email-content-title editable" @blur="bindNote">{{currentNote.title}}</h1>
                    <p class="email-content-subtitle">
                        From <a>Martin</a> at <span>{{ currentNote.created | date }}</span>
                    </p>
                </div>

                <div class="email-content-controls pure-u-1-2">
                    <button class="secondary-button pure-button">Reply</button>
                    <button class="secondary-button pure-button">Forward</button>
                    <button class="secondary-button pure-button">Move to</button>
                </div>
            </div>

            <div ref='noteContent' class="email-content-body editable" @blur="bindNote" >{{currentNote.content}}
            </div>
        </div>

        <!--transition.css
        .fade-enter-active,
        .fade-leave-active {
            transition: opacity 1s;
        }
        .fade-enter,
        .fade-leave-to {
            opacity: 0;
        }


        <transition name="fade">
            <a v-if='showIt'>
                <i class="fa-star" :class="{'far':!item.favourite, 'fas':item.favourite}" ></i>
             </a>
        </transition>
        -->
    </div>

</div>
<!-- custom JS/VUE code goes here -->
<script src="./main.js"></script>
<script>var editor = new MediumEditor('.editable', {
  buttonLabels: 'fontawesome'})
</script>
</body>
</html>
